.title
  font-family 'montserrat'
  font-size s(40,16)
  font-weight: 600
  position relative
  margin-bottom s(50,40)
  &__blue
    color $cDarkBlue
    text-align left
  &__white
    color $cWhite
  &__left
    &:after
      content ''
      position absolute
      display block
      background-color $cOrange
      width s(50,40)
      height s(2,40)


